html, body {
	margin: 0;
}
p {
	text-align: right;
	margin-right: 20px;
}
.divContent {
	background-color: gray;
	height: 100%;
	position: absolute;
	right: 30px;
	left: 30px;
	bottom: 30px;
}
.content {
	text-align: center;
	font-size: 30px;
	font-style: italic;
}